<div class="flex flex-col justify-center flex-1 w-full max-w-md mx-auto">

  


  <div>
    <div class="mb-5 sm:mb-8">
      <h1 class="mb-2 font-semibold text-gray-800 text-title-sm dark:text-white/90 sm:text-title-md">
        Reset Password
      </h1>
      <p class="text-sm text-gray-500 dark:text-gray-400">
        Enter your email to receive a password reset code.
      </p>
    </div>

    <!-- Divider -->
    <div class="relative py-3 sm:py-5">
      <div class="absolute inset-0 flex items-center">
        <div class="w-full border-t border-gray-200 dark:border-gray-800"></div>
      </div>
      <div class="relative flex justify-center text-sm">
        <span class="p-2 text-gray-400 dark:bg-gray-900"></span>
      </div>
    </div>

    <!-- Form -->
    <form (ngSubmit)="onResetPassword()" class="space-y-6">
      <div>
        <app-label>Email <span class="text-error-500">*</span></app-label>
        <app-input-field
          type="email"
          placeholder="info@gmail.com"
          [(ngModel)]="email"
          name="email"
          required
        />
      </div>

      <app-button className="w-full" size="sm" (btnClick)="onResetPassword()">
        Send Reset code
      </app-button>
    </form>

    <div class="mt-5 text-center">
      <a routerLink="/signin" class="text-sm text-brand-500 hover:text-brand-600 dark:text-brand-400">
        Back to Sign In
      </a>
    </div>
  </div>
</div>
